.siteFooter
  background #242729
  padding 30px 0
  font-size 13px
  color #848d95
  text-align center

.sidebar
  background none
  border-right none
  bottom none
  left calc(50% + 450px)
  &-link
    &.active
      border-left none

.page
  padding-left 0